<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <!--<add key="SourceFolder" value="D:\Users\brecht\Documents\TestmapNET"/>-->
    <add key="SourceFolder" value="C:\Users\Véronique Wuyts\Desktop\BelimedTest"/>
    <add key="ArchiveFolder" value = ""/>
    <add key ="Database" value="Galenus"/>
    <add key="Schema" value="JULIETTE"/>
    <add key="Server" value="192.168.0.215"/>
    <add key="UserID" value="brecht1"/>
    <add key="Password" value="brecht1"/>
  </appSettings>
</configuration>